In [1]:
import pandas as pd
import requests
import json
from pprint import pprint
import warnings

In [2]:
warnings.filterwarnings("ignore")

In [3]:
xlsx = pd.ExcelFile("../Data/LGA_Criminal_Incidents_Year_Ending_September_2021.xlsx")

# Generate population file by LGA

In [4]:
# Reading in external data file to calculate population
table2 = pd.read_excel(xlsx, "Table 02")

# adding a new column- total population
table2["Total Population"] = (table2["Incidents Recorded"] / table2["LGA Rate per 100,000 population"] * 100000).astype(int)
table2

,Year,Year ending,Police Service Area,Local Government Area,Offence Division,Offence Subdivision,Offence Subgroup,Incidents Recorded,"PSA Rate per 100,000 population","LGA Rate per 100,000 population",Total Population
0,2021,September,Ballarat,Ballarat,A Crimes against the person,A10 Homicide and related offences,A10 Homicide and related offences,4,3.308169,3.528871,113350
1,2021,September,Ballarat,Ballarat,A Crimes against the person,A20 Assault and related offences,A211 FV Serious assault,140,115.785923,123.510499,113350
2,2021,September,Ballarat,Ballarat,A Crimes against the person,A20 Assault and related offences,A212 Non-FV Serious assault,139,114.958881,122.628281,113350
3,2021,September,Ballarat,Ballarat,A Crimes against the person,A20 Assault and related offences,"A22 Assault police, emergency services or othe...",42,34.735777,37.053150,113350
4,2021,September,Ballarat,Ballarat,A Crimes against the person,A20 Assault and related offences,A231 FV Common assault,257,212.549873,226.729987,113350
...,...,...,...,...,...,...,...,...,...,...,...
50400,2012,September,Yarra Ranges,Yarra Ranges,F Other offences,F20 Transport regulation offences,F29 Other transport regulation offences,9,6.005445,6.005445,149863
50401,2012,September,Yarra Ranges,Yarra Ranges,F Other offences,F30 Other government regulatory offences,F33 Liquor and tobacco licensing offences,6,4.003630,4.003630,149863
50402,2012,September,Yarra Ranges,Yarra Ranges,F Other offences,F30 Other government regulatory offences,F39 Other government regulatory offences,7,4.670902,4.670902,149864
50403,2012,September,Yarra Ranges,Yarra Ranges,F Other offences,F90 Miscellaneous offences,F91 Environmental offences,2,1.334543,1.334543,149864
50404,2012,September,Yarra Ranges,Yarra Ranges,F Other offences,F90 Miscellaneous offences,F93 Cruelty to animals,4,2.669087,2.669087,149863

In [5]:
# creating new DataFrame 
population_gb = table2.groupby(["Year","Local Government Area"])

population_df = pd.DataFrame({"Total Population": population_gb["Total Population"].mean().astype(int) })

population_df.reset_index(level=[0,1], inplace=True)

In [6]:
population_df

     Year Local Government Area  Total Population
0    2012                Alpine             12182
1    2012                Ararat             11399
2    2012              Ballarat             96727
3    2012               Banyule            123583
4    2012            Bass Coast             30811
..    ...                   ...               ...
785  2021               Wodonga             43147
786  2021               Wyndham            290654
787  2021                 Yarra            100852
788  2021          Yarra Ranges            159102
789  2021          Yarriambiack              6445

[790 rows x 3 columns]

In [7]:
#  Extract to csv file
population_df.to_csv("../output_data/Population_by_LGA_2012-2021.csv", index = False)

#  Generate file LGA by regions by year

In [8]:
# Read in worksheet with Police Region and LGA info
police_regions_df = pd.read_excel(xlsx, "Table 01")
police_regions_df

,Year,Year ending,Police Region,Local Government Area,Incidents Recorded,"Rate per 100,000 population"
0,2021,September,1 North West Metro,Banyule,5666,4310.779038
1,2021,September,1 North West Metro,Brimbank,13161,6488.330843
2,2021,September,1 North West Metro,Darebin,10191,6180.887689
3,2021,September,1 North West Metro,Hobsons Bay,4473,4594.609322
4,2021,September,1 North West Metro,Hume,13396,5455.211528
...,...,...,...,...,...,...
865,2012,September,4 Western,Total,51566,5643.659065
866,2012,September,Justice Institutions and Immigration Facilities,Justice Institutions and Immigration Facilities,801,NaN
867,2012,September,Justice Institutions and Immigration Facilities,Total,801,NaN
868,2012,September,Unincorporated Vic,Unincorporated Vic,106,NaN
869,2012,September,Unincorporated Vic,Total,106,NaN

In [9]:
police_regions_df =  police_regions_df[["Year","Police Region","Local Government Area"]]

# LGA string has space in front of name, triming..
police_regions_df["Local Government Area"] = police_regions_df["Local Government Area"].str.strip()
police_regions_df

,Year,Police Region,Local Government Area
0,2021,1 North West Metro,Banyule
1,2021,1 North West Metro,Brimbank
2,2021,1 North West Metro,Darebin
3,2021,1 North West Metro,Hobsons Bay
4,2021,1 North West Metro,Hume
...,...,...,...
865,2012,4 Western,Total
866,2012,Justice Institutions and Immigration Facilities,Justice Institutions and Immigration Facilities
867,2012,Justice Institutions and Immigration Facilities,Total
868,2012,Unincorporated Vic,Unincorporated Vic
869,2012,Unincorporated Vic,Total

In [10]:
# Extract to csv file
police_regions_df.to_csv("../output_data/LGA_by_Regions_2012-2021.csv", index = False)

# Generate population file by regions

In [11]:
population_reg_df = pd.merge(police_regions_df, population_df, how= "right", on= ["Year","Local Government Area"])

population_reg_df

     Year       Police Region Local Government Area  Total Population
0    2012           2 Eastern                Alpine             12182
1    2012           4 Western                Ararat             11399
2    2012           4 Western              Ballarat             96727
3    2012  1 North West Metro               Banyule            123583
4    2012           2 Eastern            Bass Coast             30811
..    ...                 ...                   ...               ...
785  2021           2 Eastern               Wodonga             43147
786  2021  1 North West Metro               Wyndham            290654
787  2021  1 North West Metro                 Yarra            100852
788  2021           2 Eastern          Yarra Ranges            159102
789  2021           4 Western          Yarriambiack              6445

[790 rows x 4 columns]

In [12]:
population_reg = population_reg_df.groupby(["Police Region", "Year"])
population_regions_df = pd.DataFrame(population_reg["Total Population"].sum().astype(int))
population_regions_df.reset_index(level = [0,1], inplace = True)
population_regions_df

         Police Region  Year  Total Population
0   1 North West Metro  2012           1796924
1   1 North West Metro  2013           1856596
2   1 North West Metro  2014           1916448
3   1 North West Metro  2015           1977689
4   1 North West Metro  2016           2047992
5   1 North West Metro  2017           2122033
6   1 North West Metro  2018           2191893
7   1 North West Metro  2019           2257783
8   1 North West Metro  2020           2305910
9   1 North West Metro  2021           2295536
10           2 Eastern  2012           1573137
11           2 Eastern  2013           1591663
12           2 Eastern  2014           1610207
13           2 Eastern  2015           1630219
14           2 Eastern  2016           1654999
15           2 Eastern  2017           1678624
16           2 Eastern  2018           1699229
17           2 Eastern  2019           1719766
18           2 Eastern  2020           1734906
19           2 Eastern  2021           1722509
20    3 Southern Metro  2012           1366487
21    3 Southern Metro  2013           1396949
22    3 Southern Metro  2014           1428859
23    3 Southern Metro  2015           1462343
24    3 Southern Metro  2016           1501670
25    3 Southern Metro  2017           1538452
26    3 Southern Metro  2018           1574023
27    3 Southern Metro  2019           1607247
28    3 Southern Metro  2020           1629485
29    3 Southern Metro  2021           1622350
30           4 Western  2012            913668
31           4 Western  2013            926574
32           4 Western  2014            938490
33           4 Western  2015            951130
34           4 Western  2016            967540
35           4 Western  2017            981519
36           4 Western  2018            995906
37           4 Western  2019           1011124
38           4 Western  2020           1025396
39           4 Western  2021           1037326

In [13]:
# Extract to csv file
population_regions_df.to_csv("../output_data/Population_by_Regions_2012-2021.csv", index = False)

# Find out how many police stations in each LGA in 2021

In [14]:
# Reading in a list of police station in Australia, big table - long reading time ~ 90 seconds
police_suburb_df = pd.read_excel(xlsx, "Table 03")

In [15]:
# Getting unique suburb name and grab the corresponding LGA names
police_suburb_df = police_suburb_df.drop_duplicates("Suburb/Town Name" , keep = "first")
police_suburb_df = police_suburb_df[["Year" , "Local Government Area" , "Suburb/Town Name"]]
police_suburb_df

        Year Local Government Area  Suburb/Town Name
0       2021                Alpine          Dederang
4       2021                Alpine        Gundowring
5       2021                Alpine   Kergunyah South
6       2021                Alpine     Running Creek
7       2021                Alpine  Upper Gundowring
...      ...                   ...               ...
289475  2013    Southern Grampians           Yatchaw
290326  2013             Swan Hill        Winnambool
291495  2013          West Wimmera      Powers Creek
301620  2012        East Gippsland      Tabberabbera
306485  2012             Hindmarsh         Albacutya

[2832 rows x 3 columns]

In [16]:
# Reading in a list of police station in Australia
police_station_df = pd.read_csv("../Data/VMFEAT_POLICE_STATION.csv")

In [17]:
police_station_df

,PFI,FEATURE_ID,PARENT_FEA,FEATURE_TY,FEATURE_SU,FEATURE_ST,NAME,NAME_LABEL,PARENT_NAM,CHILD_EXIS,...,VMADD_PFI,VICNAMES_I,VICNAMES_S,THEME1,THEME2,STATE,CREATE_DAT,SUPERCEDED,CREATE_DA0,OBJECTID
0,134710,134710,NaN,emergency facility,police station,NaN,ALEXANDRA POLICE STATION,Alexandra Police Station,NaN,NaN,...,51913267.0,188,10,NaN,NaN,VIC,"""2009-05-21T00:00:00.000Z""",NaN,"""2021-04-22T00:00:00.000Z""",1887916
1,134827,134827,NaN,emergency facility,police station,NaN,ANGLESEA POLICE STATION,Anglesea Police Station,NaN,NaN,...,53046487.0,392,10,NaN,NaN,VIC,"""2009-05-21T00:00:00.000Z""",NaN,"""2021-04-22T00:00:00.000Z""",1887917
2,134850,134850,NaN,emergency facility,police station,NaN,APOLLO BAY POLICE STATION,Apollo Bay Police Station,NaN,NaN,...,127044959.0,454,10,NaN,NaN,VIC,"""2009-05-21T00:00:00.000Z""",NaN,"""2021-04-22T00:00:00.000Z""",1887918
3,134862,134862,NaN,emergency facility,police station,NaN,APSLEY POLICE STATION,Apsley Police Station,NaN,NaN,...,54279590.0,474,10,NaN,NaN,VIC,"""2009-05-21T00:00:00.000Z""",NaN,"""2021-04-22T00:00:00.000Z""",1887919
4,134873,134873,NaN,emergency facility,police station,NaN,ARARAT POLICE STATION,Ararat Police Station,NaN,NaN,...,134102501.0,496,10,NaN,NaN,VIC,"""2009-05-21T00:00:00.000Z""",NaN,"""2021-04-22T00:00:00.000Z""",1887920
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
326,139806,139806,NaN,emergency facility,police station,NaN,LANDSBOROUGH POLICE STATION,Landsborough Police Station,NaN,NaN,...,NaN,14579,10,NaN,NaN,VIC,"""2009-05-21T00:00:00.000Z""",NaN,"""2021-11-02T00:00:00.000Z""",1954094
327,139945,139945,NaN,emergency facility,police station,NaN,LEXTON POLICE STATION,Lexton Police Station,NaN,NaN,...,NaN,14909,10,NaN,NaN,VIC,"""2009-05-21T00:00:00.000Z""",NaN,"""2021-11-02T00:00:00.000Z""",1954095
328,612141,612141,NaN,emergency facility,police station,NaN,WARRACKNABEAL POLICE STATION,Warracknabeal Police Station,NaN,NaN,...,NaN,28575,10,NaN,NaN,VIC,"""2009-05-21T00:00:00.000Z""",NaN,"""2021-11-02T00:00:00.000Z""",1954098
329,140025,140025,NaN,emergency facility,police station,NaN,LOCH POLICE STATION,Loch Police Station,NaN,NaN,...,134164533.0,15308,10,NaN,NaN,VIC,"""2009-05-21T00:00:00.000Z""",NaN,"""2021-05-25T00:00:00.000Z""",1901094
330,140244,140244,NaN,emergency facility,police station,NaN,MALDON POLICE STATION,Maldon Police Station,NaN,NaN,...,53874840.0,16004,10,NaN,NaN,VIC,"""2009-05-21T00:00:00.000Z""",NaN,"""2021-05-25T00:00:00.000Z""",1901095

In [18]:
# Extract to csv file
population_regions_df.to_csv("../output_data/Population_by_Regions_2012-2021.csv", index = False)

In [19]:
# Use first part of police station name as Suburb name
police_station_df = police_station_df[["NAME_LABEL"]]

police_station_df = police_station_df.rename(columns = {"NAME_LABEL" : "Police station"})

police_station_df["Suburb/Town Name"] = police_station_df["Police station"]
police_station_df["Suburb/Town Name"] = police_station_df["Suburb/Town Name"].str.strip().str.replace(" Police Station", "")
police_station_df

                   Police station Suburb/Town Name
0        Alexandra Police Station        Alexandra
1         Anglesea Police Station         Anglesea
2       Apollo Bay Police Station       Apollo Bay
3           Apsley Police Station           Apsley
4           Ararat Police Station           Ararat
..                            ...              ...
326   Landsborough Police Station     Landsborough
327         Lexton Police Station           Lexton
328  Warracknabeal Police Station    Warracknabeal
329           Loch Police Station             Loch
330         Maldon Police Station           Maldon

[331 rows x 2 columns]

In [20]:
# Getting police station by LGA
police_station_by_LGA_df = pd.merge(police_suburb_df, police_station_df, how = "right", on = "Suburb/Town Name")
police_station_by_LGA_df

,Year,Local Government Area,Suburb/Town Name,Police station
0,2021.0,Murrindindi,Alexandra,Alexandra Police Station
1,2021.0,Surf Coast,Anglesea,Anglesea Police Station
2,2021.0,Colac-Otway,Apollo Bay,Apollo Bay Police Station
3,2021.0,West Wimmera,Apsley,Apsley Police Station
4,2021.0,Ararat,Ararat,Ararat Police Station
...,...,...,...,...
326,2021.0,Pyrenees,Landsborough,Landsborough Police Station
327,2021.0,Pyrenees,Lexton,Lexton Police Station
328,2021.0,Yarriambiack,Warracknabeal,Warracknabeal Police Station
329,2021.0,Bass Coast,Loch,Loch Police Station
330,2021.0,Mount Alexander,Maldon,Maldon Police Station

In [21]:
# Check for unidentified LGA
police_station_by_LGA_df[police_station_by_LGA_df["Local Government Area"].isna()]

,Year,Local Government Area,Suburb/Town Name,Police station
11,NaN,NaN,Ballarat,Ballarat Police Station
30,NaN,NaN,Boroondara,Boroondara Police Station
80,NaN,NaN,Knox,Knox Police Station
109,NaN,NaN,Melbourne East,Melbourne East Police Station
134,NaN,NaN,Mount Hotham,Mount Hotham Police Station
303,NaN,NaN,Bayside,Bayside Police Station
312,NaN,NaN,Ballarat West,Ballarat West Police Station
313,NaN,NaN,Melbourne North,Melbourne North Police Station
315,NaN,NaN,Police Airwing,Police Airwing Police Station
316,NaN,NaN,Wyndham North,Wyndham North Police Station
320,NaN,NaN,Water Police/Search And Rescue,Water Police/Search And Rescue Police Station
322,NaN,NaN,Melbourne West,Melbourne West Police Station

In [22]:
# Create function to allocate LGA to NaN value in LGA column
def allocate(suburb, lga):
    if lga == "":
        lga = suburb
    police_station_by_LGA_df.loc[police_station_by_LGA_df["Suburb/Town Name"] == suburb,"Local Government Area"] = lga

In [23]:
allocate("Mount Hotham", "Alpine")
allocate("Ballarat", "")
allocate("Boroondara", "")
allocate("Knox", "")
allocate("Melbourne East", "Melbourne")
allocate("Bayside","")
allocate("Ballarat West","Ballarat")
allocate("Melbourne North", "Melbourne")
allocate("Police Airwing","Moonee Valley")
allocate("Wyndham North", "Wyndham")
allocate("Melbourne West", "Melbourne")
allocate("Water Police/Search And Rescue","Hobsons Bay")

# mistake in the orginal table, Warrnambool was allocated to Moyne 
allocate("Warrnambool", "")

In [24]:
police_stations_df = pd.DataFrame({"Police Stations in LGA" : police_station_by_LGA_df.groupby("Local Government Area")["Police station"].count().astype(int)})
police_stations_df.reset_index(level = 0, inplace= True)
police_stations_df

   Local Government Area  Police Stations in LGA
0                 Alpine                       6
1                 Ararat                       4
2               Ballarat                       5
3                Banyule                       3
4             Bass Coast                       6
..                   ...                     ...
74               Wodonga                       1
75               Wyndham                       2
76                 Yarra                       3
77          Yarra Ranges                      10
78          Yarriambiack                       8

[79 rows x 2 columns]

In [25]:
# Extract to csv file
police_stations_df.to_csv("../output_data/Number_of_police_stations_in_each_LGA_2021.csv", index = False)

# Load LGA boundaries from web and write to file

In [26]:
# getting LGA boundaries
url = "https://data.gov.au/geoserver/vic-local-government-areas-psma-administrative-boundaries/wfs?request=GetFeature&typeName=ckan_bdf92691_c6fe_42b9_a0e2_a4cd716fa811&outputFormat=json"
response = requests.get(url).json()

In [27]:
with open('../Data/LGA_boundaries.json', 'w') as json_file:
    json.dump(response, json_file)